body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

.input-button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darkgreen;
    }
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #d32f2f;
    }
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    &:last-child {
        border-bottom: none;
    }
}

li button {
    margin-left: 10px;
    flex-shrink: 0;
}