* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.calc {
  background-color: #fff;
  background-color: #454343;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#input {
  width: 100%;
  max-width: 500px;
  height: 100px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  text-align: right;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  width: 70px;
  height: 70px;
  padding: 20px;
  margin: 10px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover {
    background-color: #706e6e;
    color: white;
  }
}

.history article p {
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.history article p::before {
  content: "➡️ ";
  font-weight: bold;
}